// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/about";

body {
  font-family: 'Fira Code', monospace;
}

.bg-secondary {
  background-color: #1e1e1e !important;
}


textarea {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

.nav-link {
  cursor: pointer;
  padding: 5px 10px;
  font-family: 'Fira Code', monospace;
}

.active-tab {
  background-color: #1e1e1e;
  color: #58a6ff !important;
  border-left: 4px solid #58a6ff;
}

.dropdown-header {
  font-size: 1rem;
  color: #ccc;
  cursor: pointer;
}

ul.list-unstyled li a:hover {
  background-color: #2d2d2d;
  border-left: 4px solid #61dafb;
}



.text-info {
  color: #569cd6;
}

.text-warning {
  color: #dcdcaa;
}

.text-success {
  color: #6a9955;
}

.text-primary {
  color: #9cdcfe;
}

[data-tab-target="dropdown"].show {
  display: block !important;
}

.nav-link.active-tab {
  background-color: #1e1e1e;
  color: #58a6ff !important;
  border-left: 4px solid #58a6ff;
}

.landing-section {
  background: linear-gradient(135deg, #1e1e1e, #2c2c54);
  color: #ffffff;
}

footer {
  border-top: 1px solid #444;
}

footer a:hover {
  color: #58a6ff; /* Blue highlight on hover */
}
